html,
body {
  overflow-x: hidden;
  overflow-y: hidden;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

body {
  position: relative;
  margin: 0;
  /* Перелінк - для редагування і спільного використання цього градієнта: https://colorzilla.com/gradient-editor/#f0f9ff+0,cbebff+47,a1dbff+100;Blue+3D+%2313 */
  background: #f0f9ff; /* Для старих браузерів */
  background: -moz-linear-gradient(
    top,
    #d9f7fb 0%,
    #87d5fb 32%,
    #68a4ee 100%
  ); /* Для Firefox 3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #d9f7fb 0%,
    #87d5fb 32%,
    #68a4ee 100%
  ); /* Для Chrome10-25, Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #d9f7fb 0%,
    #87d5fb 32%,
    #68a4ee 100%
  ); /* Для W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#77cdff',GradientType=0 ); /* Для IE6-9 */
}
